.container {
    width: 75%;
    max-width: 600px;
    padding: 2rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: center;
    font-size: 28px;
    font-weight: normal;
  }
  
  .subheader {
    text-align: center;
    color: #808080;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 16px;
  }
  
  .cardContainer {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .toggleIcon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  
  .inputContainer {
    padding-left: 4rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;
  }
  
  .inputField {
    width: 430px;
    color: #808080;
    height: 40px;
    border: 1px solid #D3D3D3;
    border-radius: 6px;
    padding-left: 12px;
    margin-right: 0.5rem;
  }
  
  .goButton {
    background-color: #99e44e;
    color: white;
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .buttonGroup {
    padding-left: 4rem;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .backButton {
    background-color: white;
    color: #808080;
    width: 100px;
    height: 35px;
    border: 1px solid #D3D3D3;
    border-radius: 6px;
    cursor: pointer;
  }
  